form {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    label {
        display: inline-block;
    }

    input,
    button,
    textarea {
        border-radius: 10px;
        background: transparent;
        outline: none;
        border-width: 1px;
    }

    input,
    textarea {
        padding: 1rem;
        color: white;
        border-color: rgba(255, 255, 255, 0.4);
    }

    .form-title {
        font-size: 34px;
        font-weight: 300;
        text-transform: uppercase;
    }
    button {
        background: rgb(81, 98, 180);
        transition: background 0.3s ease-in-out;
        color: white;
        &:hover {
            background: rgb(42, 45, 134);
        }
    }
}
