.flex {
    display: flex;
}
.flex-center {
    align-items: center;
    justify-content: center;
}
.aifs {
    align-items: flex-start;
}
.aife {
    align-items: flex-end;
}
.aic {
    align-items: center;
}
.jcc {
    justify-content: center;
}
.jcfs {
    justify-content: flex-start;
}
.jcfe {
    justify-content: flex-end;
}
.jcc {
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
